body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: purple;
}
.search-section{
    background-color:#606060;
    width:100%;
    padding-left:15px;
    text-align:center;
    position: relative;
    top:0;
    left:0;
}
.div{
    padding:0;
}
.form{
    margin:15px;
    padding:10px;
}
.btn{
    float:left;
    padding:5px;
    margin:5px;
    text-align: center;
    color:purple;
    background-color: white;
    border-color:black;
    font-size: 16px;
    font-weight: bold;
}
.freetext{
    color:white;
    text-align: center;
}
#search-item{
    float:left;
}
.display-img{
    display:inline;
}
.result-img {
    display:inline;
    border: black;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}
.img-field {
   padding:0;
   margin:0;
}
.bulletin {
    font-size: 12px;
}
.container {
    text-align:center;
    margin:0;
    padding:0;
    max-width:100%;
}
.footer {
    padding:10px;
    margin-top:50px;
    color:white;
    font-size:20px;
    background-color:#606060;
    text-align:center;
    position:absolute;
    bottom:0;
    right:0;
    height:50px;   /* Height of the footer */
}
a:link, a:visited{
    color:white;
}